<style>
    body {font-family: Poppins, sans-serif; margin:0}
</style>
<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="border-bottom: solid #717171;border-bottom-width: 10px">
        <div class="container">
            <a class="navbar-brand" href="#">CAR DEALERSHIP</a>
            <div class="navbar-wrapper">
                <div class="container">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="btn btn-light" href="/home">Home</a></li>
                            <li><a class="btn btn-light" href="/car">Cars</a></li>
                            <li><a class="btn btn-light" href="/model">Car Models</a></li>
                            <li><a class="btn btn-light" href="/manufacturer">Manufacturer</a></li>
                            <li><a class="btn btn-light" href="/dealership">Dealerships</a></li>
                            <li><a class="btn btn-light" href="/country">Countries</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="form-inline" style="margin-top: 15px">
                    <div class="input-group input-group-sm mb-3">
                        <a sec:authorize="isAnonymous()" class="btn btn-outline-secondary btn-sm" href="/login">Login</a>
                        <a sec:authorize="isAnonymous()" class="btn btn-secondary btn-sm" href="/register">Register</a>
                        <a sec:authorize="isAuthenticated()" class="btn btn-outline-secondary btn-sm" href="/logout">Logout</a>
                        <span sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></span>
                    </div>
                </div>
            </div>
    </nav>
</header>
