<style>
    body {font-family: Poppins, sans-serif; margin:0}
</style>
<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="border-bottom: solid #717171;border-bottom-width: 10px">
        <div class="container">
            <a class="navbar-brand" href="#">CAR DEALERSHIP</a>
            <div class="navbar-wrapper">
                <div class="container">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="btn btn-light" href="/home">Home</a></li>
                            <li><a class="btn btn-light" href="/car">Cars</a></li>
                            <li><a class="btn btn-light" href="/model">Car Models</a></li>
                            <li><a class="btn btn-light" href="/manufacturer">Manufacturer</a></li>
                            <li><a class="btn btn-light" href="/dealership">Dealserships</a></li>
                            <li><a class="btn btn-light" href="/country">Countries</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form class="form-inline" style="margin-top: 15px" th:method="post">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Log in:</span>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username">
                        <input type="password" class="form-control form-control-sm" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password">
                        <input type="submit" value="Submit" class="btn btn-outline-secondary btn-sm">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
