<section xmlns:th="http://www.thymeleaf.org">
    <div class="carTitle">
        <h2 th:text="${car.name}"/>
    </div>
    <br>

    <div class="carTableHolder">
        <img th:src="${car.image}" class="carImage">
        <table class="carTable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Manufacturer:
                    </td>
                    <td th:text="${car.model.manufacturer.name}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Model name:
                    </td>
                    <td th:text="${car.model.name}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Body:
                    </td>
                    <td th:text="${car.body}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Engine:
                    </td>
                    <td th:text="${car.engine}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Turbo:
                    </td>
                    <td th:text="${car.turbo}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Doors:
                    </td>
                    <td th:text="${car.doors}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Color:
                    </td>
                    <td th:text="${car.color}">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="carButtons">
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="carButton">
                <a class="btn btn-outline-secondary btn-sm" th:href="@{'/car/{id}/edit' (id=${car.id})}">Edit</a>
            </div>
            <div class="carButton">
                <form method="post" th:action="@{'/car/{id}/delete' (id=${car.id})}">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">Delete</button>
                </form>
            </div>
        </th:block>
        <div class="carButton">
            <th:block>
                <a class="btn btn-outline-secondary btn-sm" th:href='${"/car/compare/" + car.id}'>Compare with another car</a>
            </th:block>
        </div>
    </div>
</section>