<style>
    .carTable tr th,td{
        padding: 7px;
    }
    .carTable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .carTable tr td{
        text-align: center;
    }
    .carTable tr td:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr td:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }
    .carTable tr th:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr th:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }

    .carTable > tbody > tr:nth-child(odd) {
        background-color: rgba(215,215,215,70);
    }
</style>
<section xmlns:th="http://www.thymeleaf.org">
    <h1 th:text="${car.name}"/>
    <br>

    <div style="width: 500px;margin:auto;display:grid">
        <img th:src="${car.image}" style="width: 500px;display: inherit;margin: auto;">
        <table class="carTable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Manufacturer:
                    </td>
                    <td th:text="${car.model.manufacturer.name}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Model name:
                    </td>
                    <td th:text="${car.model.name}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Body:
                    </td>
                    <td th:text="${car.body}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Engine:
                    </td>
                    <td th:text="${car.engine}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Turbo:
                    </td>
                    <td th:text="${car.turbo}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Doors:
                    </td>
                    <td th:text="${car.doors}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Color:
                    </td>
                    <td th:text="${car.color}">

                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{'/car/{id}/edit' (id=${car.id})}">Edit</a>
        <form method="post" th:action="@{'/car/{id}/delete' (id=${car.id})}">
            <button type="submit">Delete</button>
        </form>
        <th:block>
            <a th:href='${"/car/compare/" + car.id}'>Compare with another car</a>
        </th:block>
    </div>
</section>