<section xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{'/model/{id}' (id=${carModel?.id})}">
        <div>
            <label>Manufacturer</label><br/>
            <select id="manufacturer" name="manufacturerId">
                <!-- For each category you should have one <option> like below  -->
                <option th:each="mnf : ${manufacturers}" th:value="${mnf.id}" th:text="${mnf.name}"></option>
            </select>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   name="name"
                   th:value="${carModel?.name}"
                   required>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text"
                   id="image"
                   name="image"
                   th:value="${carModel?.image}"
                   required>
        </div>
        <button id="submit" type="submit">Submit</button>
        <a id="back" th:href="@{'/model/{id}' (id=${carModel?.id})}" type="button">Back</a>
    </form>
</section>