<style>
    #options {
        width:200px;
        height:650px;
        float:left;
        overflow-y:scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #results {
        width:1000px;
        height:650px;
        overflow-y:scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #results::-webkit-scrollbar {
        width: 0;
    }
    #options::-webkit-scrollbar {
        width: 0;
    }
</style>
<section xmlns:th="http://www.thymeleaf.org">
    <div style="width: 1000px;margin: auto;display: block">
        <div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/model/add">ADD A NEW CAR MODEL</a>
            </th:block>
            <input id="searchInput"type="text" class="form-control form-control-sm" onkeyup="searchCars()"></input>
        </div>
    </div>

    <div style="width: 1000px;margin: auto;display: block">
        <div id="results">
            <a th:each="model : ${carModels}" th:href="@{'/model/{id}' (id=${model.id})}">
                <div class="resultOption">
                    <div style="height: 176px;">
                        <img class="resultOptionImage" th:src="${model.image}">
                    </div>
                    <div class="resultOptionText" th:text="${model.name}">

                    </div>
                </div>
            </a>
        </div>
    </div>
    <script>
        function searchCars() {
            var value = $("#searchInput").val();
            console.log(value);
            var cars = document.getElementsByClassName("resultOption");
            for(let i = 0; i < cars.length; ++i) {
                if(String(cars[i].children[1].innerText).search(value) === -1) {
                    cars[i].hidden = true;
                }
                else {
                    cars[i].hidden = false;
                }
                console.log(cars[i].children);
            }
        }
    </script>
</section>