<style>
    .carTable tr th,td{
        padding: 7px;
    }
    .carTable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .carTable tr td{
        text-align: center;
    }
    .carTable tr td:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr td:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }
    .carTable tr th:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr th:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }

    .carTable > tbody > tr:nth-child(odd) {
        background-color: rgba(215,215,215,70);
    }
</style>
<section xmlns:th="http://www.thymeleaf.org">
    <div class="carTitle">
        <h2 th:text="${carModel.name}"/>
    </div>
    <div style="width: 500px;margin:auto;display:grid">
        <img th:src="${carModel.image}" class="carImage">
        <table class="carTable">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Manufacturer:
                </td>
                <td th:text="${carModel.manufacturer.name}">

                </td>
            </tr>
            <tr>
                <td>
                    Model:
                </td>
                <td th:text="${carModel.name}">

                </td>
            </tr>
            <tr>
                <td>
                    Available cars from this model:
                </td>
                <td>
                    <ul>
                        <li th:each="car : ${carModel.cars}" >
                            <a th:href="@{'/car/{id}' (id=${car.id})}">
                                <th:block th:text="${car.name}"/>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="carButtons">
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="carButton btn btn-outline-secondary btn-sm" th:href="@{'/model/{id}/edit' (id=${carModel.id})}">Edit</a>
            </th:block>
        </div>
    </div>
</section>