<section xmlns:th="http://www.thymeleaf.org">
<form method="post"  th:action="@{'/car/{id}' (id=${car?.id})}">
    <div>
        <label>Car Model</label><br/>
        <select id="carModel" name="carModelId">
            <option th:each="model : ${carModels}" th:value="${model.id}" th:text="${model.name}"></option>
        </select>
    </div>

    <div>
        <label for="body">Body</label>
        <input type="text"
               id="body"
               name="body"
               th:value="${car?.body}"
               required>
    </div>
    <div>
        <label for="engine">Engine</label>
        <input type="text"
               id="engine"
               name="engine"
               th:value="${car?.engine}"
               required>
    </div>
    <div>
        <label for="turbo">Turbo</label>
        <input type="text"
               id="turbo"
               name="turbo"
               th:value="${car?.turbo}"
               required>
    </div>
    <div>
        <label for="doors">Number of Doors</label>
        <input type="number"
               id="doors"
               name="doors"
               th:value="${car?.doors}"
               required>
    </div>
    <div>
        <label for="color">Color</label>
        <input type="text"
               id="color"
               name="color"
               th:value="${car?.color}"
               required>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="double"
               id="price"
               name="price"
               th:value="${car?.price}"
               required>
    </div>
    <div>
        <label for="image">Image</label>
        <input type="text"
               id="image"
               name="image"
               th:value="${car?.image}"
               required>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" th:href="@{'/car/{id}' (id=${car?.id})}" type="button">Back</a>
</form>
</section>