<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5 carTableHolder" method="post" th:action="@{'/login'}">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div th:text="${param.error}" class="text-danger"></div>

        <button id="submit" class="carButton btn btn-outline-primary btn-sm" type="submit">Sign in</button>
    </form>
    <div class="carButtons">
        <a href="/register">Dont have an account? Register here!</a>
    </div>
</div>