<section xmlns:th="http://www.thymeleaf.org">
    <div>
        <h1 th:text="${manufacturer.name}"/>
    </div>

    <div>
        <div id="options">
            <a href="">ADD A NEW CAR MODEL PRODUCED BY <th:block th:text="${manufacturer.name}"/></a>
        </div>
        <div id="results">
            <div>
                <a th:each="model : ${manufacturer.carModels}" th:href="@{'/model/{id}' (id=${model.id})}">
                    <div style="height: 176px;">
                        <img class="resultOptionImage" src="https://images2.minutemediacdn.com/image/upload/c_crop,h_726,w_1292,x_199,y_0/f_auto,q_auto,w_1100/v1578352479/shape/mentalfloss/62455-shout-factory1.jpg">
                    </div>
                    <p th:text="${model.name}"></p>
                </a>
            </div>
        </div>

    </div>
</section>