<style>
    .carTable tr th,td{
        padding: 7px;
    }
    .carTable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .carTable tr td{
        text-align: center;
    }
    .carTable tr td:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr td:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }
    .carTable tr th:first-child {
        text-align: right;
        border-right: solid gray;
        border-radius: 15px 0px 0px 15px;
        width:150px;
    }
    .carTable tr th:last-child {
        text-align: left;
        border-radius: 0px 15px 15px 0px;
    }

    .carTable > tbody > tr:nth-child(odd) {
        background-color: rgba(215,215,215,70);
    }
</style>
<section xmlns:th="http://www.thymeleaf.org">
    <div>
        <h1 th:text="${manufacturer.name}"/>
    </div>
    <div style="width: 500px;margin:auto;display:grid">
        <img th:src="${manufacturer.image}" style="width: 500px;display: inherit;margin: auto;">
        <table class="carTable">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Manufacturer:
                </td>
                <td th:text="${manufacturer.name}">

    <div>
        <div id="options">
            <a href="">ADD A NEW CAR MODEL PRODUCED BY <th:block th:text="${manufacturer.name}"/></a>
        </div>
        <div id="results">
            <div>
                <a th:each="model : ${manufacturer.carModels}" th:href="@{'/model/{id}' (id=${model.id})}">
                    <div style="height: 176px;">
                        <img class="resultOptionImage" src="https://images2.minutemediacdn.com/image/upload/c_crop,h_726,w_1292,x_199,y_0/f_auto,q_auto,w_1100/v1578352479/shape/mentalfloss/62455-shout-factory1.jpg">
                    </div>
                    <p th:text="${model.name}"></p>
                </a>
            </div>
        </div>


                </td>
            </tr>
            <tr>
                <td>
                    Country:
                </td>
                <td th:text="${manufacturer.country.name}">

                </td>
            </tr>
            <tr>
                <td>
                    Available models from this manufacturer:
                </td>
                <td>
                    <div class="resultOption">
                        <ul>
                            <li th:each="model : ${manufacturer.carModels}" >
                                <a th:href="@{'/model/{id}' (id=${model.id})}">
                                    <th:block th:text="${model.name}"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/manufacturer/{id}/edit' (id=${manufacturer.id})}">Edit</a>
        </th:block>

    </div>
</section>