<section xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{'/manufacturer/{id}' (id=${manufacturer?.id})}">
        <div id="form" class="carTableHolder">
            <table class="carTable">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text"
                               id="name"
                               name="name"
                               th:value="${manufacturer?.name}"
                               required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                        <select id="country" name="countryId">
                            <!-- For each category you should have one <option> like below  -->
                            <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Image
                    </td>
                    <td>
                        <input type="text"
                               id="image"
                               name="image"
                               th:value="${manufacturer?.image}"
                               required>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="carButtons">
                <button class="carButton btn btn-outline-secondary btn-sm" id="submit" type="submit">Submit</button>
                <a class="carButton btn btn-outline-secondary btn-sm" id="back" th:href="@{'/manufacturer/{id}' (id=${manufacturer?.id})}" type="button">Back</a>
            </div>
        </div>
    </form>
</section>