<section xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{'/manufacturer/{id}' (id=${manufacturer?.id})}">
        <div id="form">
            <div>
                <label for="name">Name</label>
                <input type="text"
                       id="name"
                       name="name"
                       th:value="${manufacturer?.name}"
                       required>
            </div>
            <div>
                <label>Country</label><br/>
                <select id="country" name="countryId">
                    <!-- For each category you should have one <option> like below  -->
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                </select>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text"
                       id="image"
                       name="image"
                       th:value="${manufacturer?.image}"
                       required>
            </div>
            <button id="submit" type="submit">Submit</button>
            <a id="back" th:href="@{'/manufacturer/{id}' (id=${manufacturer?.id})}" type="button">Back</a>
        </div>
    </form>
</section>