<section xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{'/dealership'}">
        <div>
            <label for="address">Address</label>
            <input type="text"
                   id="address"
                   name="address"
                   required>
        </div>
        <div>
            <label>Country</label><br/>
            <select id="country" name="countryId">
                <!-- For each category you should have one <option> like below  -->
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
        </div>
        <button id="submit" type="submit">Submit</button>
        <a id="back" href="/dealership" type="button">Back</a>
    </form>
</section>