<section xmlns:th="http://www.thymeleaf.org">
    <div style="width: 1000px;margin: auto;display: block">
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/dealership/add">ADD A NEW DEALERSHIP</a>
        </th:block>
    </div>
    <div style="width: 500px;margin:auto;display:grid">
        <table>
            <thead>
            <tr>
                <td>Country</td>
                <td>City</td>
                <td>Address</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="salon : ${salons}">
                <td th:text="${salon.country.name}"></td>
                <td th:text=" ${salon.city}"></td>
                <td th:text=" ${salon.address}"></td>
                <td>
                    <a th:href="@{'/dealership/{id}' (id=${salon.id})}">See More</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>