<section xmlns:th="http://www.thymeleaf.org">
    <div>
        <a href="/dealership/add">ADD A NEW DEALERTSHIP</a>
    </div>
    <div style="width: 500px;margin:auto;display:grid">
        <table>
            <thead>
            <tr>
                <td>Country</td>
                <td>Address</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="salon : ${salons}">
                <td th:text="${salon.country.name}"></td>
                <td th:text=" ${salon.address}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</section>